* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.postItem-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    flex-direction: column;
    margin-top: 40px;
}

.postItem-form > input {
    width: 600px;
    height: 40px;
    white-space: pre-wrap;
    text-align: center;
    margin-bottom: 30px;
    border: solid 2px red;
}

.postItem-form > button {
    width: 400px;
    height: 60px;
}

.postItem-enter {
    transform: translateX(-350px);
}

.postItem-enter-active {
    transform: translateX(350px);
    transition: all 500ms ease-in;
}

.postItem-exit {
    opacity: 1;
}

.postItem-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: center;
}

.page {
    padding: 10px;
    border: solid 1px teal;
    cursor: pointer;
    margin-left: 5px;
}

.page__current {
    border: 2px solid red;
    font-weight: bold;
}
  